@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hello Youngjin World!</h1>
<div>I am Algonquin college student</div>
<div>I love this course, because i guess this course really will helps me to get the jobs for in the future</div>
